body{
    background-color: #ccc;
}
h2{
    color: rgb(136, 85, 85);
    font-weight: bold;
    text-align: center;
}
a{
    text-decoration: none;
    margin-right: 20px;
    border: 2px solid transparent;
    padding: 10px;
    background-color: #eee;
    color: rgb(57, 38, 10);
    border-radius: 10%;
    display: block;
    text-align: center;
    transition: 0.2s;
    height: 20px;
}
a:hover{
    color: rgb(6, 168, 213);
    font-size: 20px;
}