body{
    background-color: bisque;
}
.orange{
    background-color: orange;
    font-weight: bold;
}
.yellow{
    background-color: yellow;
    font-weight: bold;
}
.one{
    border: 2px solid black;
    width: 40%;
}
.two{
    border: 2px dashed black;
    width: 40%;
}
.paragraph{
    border: 2px dashed red;
    
}
.three{
    border: 2px solid purple;
    width: 40%;
    color: purple;
}
.heading{
    color: purple;
    font-weight: bolder;
}
.one,.two,.three{
    margin-bottom: 20px;
    padding: 20px;
}
.para_one{
    color: orange;
    width: 40%;
}
.inline{
    font-weight: bold;
    
}
.para_two{
    width: 40%;
}
.para_three{
    background-image: url(../cena3.jpg);
    width: 40%;
}
.last{
    color: red;
}
.last:hover{
    border: 2px solid grey;
    font-size: 20px;
    opacity: 0.5;
    color: black;
}
.paragraphs{
    width: 40%;
    
}
.parent{
    position: relative;
}
img{
    position: absolute;
    top: 45px;
    left: 400px;
}
.title{
    text-decoration: underline;
}
.first_par{
    color: blue;
}
.first_par a{
    color: orange;
}
.second_par a{
    color: orange;
}
.third_par span{
    background-color: yellow;
    text-decoration: underline;
}
.first_list{
    font-weight: bold;
}
.first_list a {
    color: red;
}
.second_list li{
    color: blue;
}
.third_list{
    list-style: none;
}
.second_list li a{
    color: red;
}